@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }

body{
    background-color: #06061B;
}

.my-transparent-text{
    color: #06061B
}

#get-started{
    background: -webkit-linear-gradient(262.78deg, #00C1FF 2.24%, #30EAB7 97.08%);
}

.gradient-class{
    background: -webkit-linear-gradient(262.78deg, #00C1FF 2.24%, #30EAB7 97.08%, #999999 97.08%, #999999 97.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.back-shade{
    background-image: linear-gradient(to bottom right,#8b48d7, transparent);
    border-color:  #00C1FF;
}

.about-log-div-2 {
    background-color: rgba(6, 6, 45, 0.9);
  }

/* custom.css or a similar file */
.custom-list-marker::marker {
    color: white; /* Change this to your desired color */
    vertical-align: middle;
}

 .frame-19{

box-sizing: border-box;
    padding: 12px;
    background: -webkit-linear-gradient(262.78deg, rgba(0, 193, 255, 0.15) 2.24%, rgba(48, 234, 183, 0.15) 97.08%, rgba(153, 153, 153, 0.15) 97.08%, rgba(153, 153, 153, 0.15) 97.08%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.card-summary-bg{
    background: rgba(255, 255, 255, 0.05);
}